<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>  
    <header>
        <form action="/prepareToSearchFromAPI"> make a new search from the Google Books API
          <input type="submit">
        </form>
      </header>


  <h1>here are all your books</h1>
      <p><a href="/">Home</a></p>
      <h4>you have saved <%= databaseResults.length %> books </h4>
      <ul>
        <% databaseResults.forEach(item => { %>
          <div id = <%= item.ISBN_13 %>>
            <img src=<%=item.image_url %>p
            <h3><%= item.title %></h3>
            <h4><%= item.author %></h4>
            <p><%= item.description %></p>
            <p><%=item.id%></p>
            <form action="/books/<%=item.id%>">
              <input type="submit" value="fire away">
            </form>
          </div>
        <% }) %>
      </ul>
</body>
</html>