<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Our Book List</h1>
  <p><a href="/">Home</a></p>
  <ul>
    <script>


    </script>
    <%= searchResults.forEach((item) => { %>

    <div id=<%= item.ISBN_13 %>>
      <img src=<%=item.image_url %>p <h3><%= item.title %></h3>
      <!-- for some reason authors not working -->
      <h4><%= item.author %></h4>
      <p><%= item.description %></p>
    </div>

    <form action="<%= 'formAction === 'UPDATE' ? `/update/${book.id}` : '/add' %> "  method="POST" id="form<%=item.ISBN_13%>" style="display:none">
      <input type="hidden" name "_method" value="<%= 'update' === formAction ? 'put' : 'post' %>">
      <input type="text" name="ISBN_13" value="<%= item.ISBN_13%>" placeholder="Book isbn">
      <input type="text" name="title" value="<%= item.title%>" placeholder="Book Name">
      <input type="text" name="author" value="<%= item.author%>" placeholder="Author">
      <!-- for some reason authors not working -->
      <input type="text" name="description" placeholder="DEscription of the book" cols="30"
      rows="10"> <%= item.description %> </textarea>
      <input type="text" name="image_url" value="<%= item.image_url%>">
      <input type="submit" value="click me to add to the DB" id="">
     


      
    </form>
    <!-- this is bad and should be extraplated to one button that each book can call, but quick and dirty MVP for now -->
    <% }); %>
  </ul>

 

 <script>
    function clicker(whichOne) {
      whichone.toString();
      console.log('hitting');
      console.log(`form${whichOne}`);
      $(`#form${whichOne}`).css('display', 'block');
    }
  </script>
  

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

</body>

</html>
