<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h1>Our Book List</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% searchResults.forEach(item => { %>
        <form action="/add" method="POST">  
          <!-- <input type="text" name="ISBN_13" value= <%= item.ISBN_13 %>>
          <input type="text" name="image_url" value= <%= item.image_url %>>
          <input type="text" name="title" value= <%= item.title %>>
          <input type="text" name="author" value= <%= item.author %>>
          -->

          <input type="hidden" name="description" value= <%=item.description %>> 

        <div id = <%= item.ISBN_13 %>>
          <img src=<%=item.image_url %>p
          <h3><%= item.title %></h3>
          <h4><%= item.author %></h4>
          <p><%= item.description %></p>
        </div>
        <input type="submit" value="click to add the book to your faves">
      </form>
      
      <% }) %>
    </ul>
  
</body>
</html>